/*main de escribinos*/
.centrar {
    text-align: center;
    color: rgb(0, 255, 255);
    font-size: 3rem;
    margin: 10px 0px;
}
h2 {
    text-align: center;
    color: black;
    font-size: 2.8rem;
    margin: 10px 0px;
}
p {
    font-size: 2.5rem;
    margin: 10px 5px;
}
.form{
    display: flex;
    justify-content: center;
    align-items: flex-start;
    padding: 20px;
}
.transicion{
    form{
        width: 60%;
    height: 400px;
    padding: 20px;
    font-size: 2.5rem;

    &:hover{
        color: aqua;
    }
}
    input{
        margin: 20px;
        padding: 10px;
        width: 100%;
    }
    textarea{
        margin: 20px;
        padding: 20px;
        width: 100%;
        height: 120px;
    }
}
.img{
    @include formato( auto,40%); 
    text-align: center;
    padding: 20px;   
}
.texto-largo{
    font-size: 1.5rem;
}