/*main de lenguayresponsive-*/

.para-mobile{
    text-align: center;
    color: aqua;
    font-size: 2.5rem;
    margin: 10px 0px;
    }
p{
        font-size: 2rem;
        margin: 20px 0px;
    }

.detalle-desktop{
     display: block;
    }   
.ver-mas-mobile{
     display: none;
}

