/*mediaq*/
@media (max-width: 480px){

header{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: auto;
    
    img{
        width: 50px;
        margin: 5px;
    }
    nav{
         position: static;
         width: 100%;
         height: auto;
         display: flex;
         justify-content: center;
        ul{
            display: flex;
            flex-direction: column;
            justify-content:space-around;
            width: 100%;
        a{
             font-size: 1rem;
             padding: 5px 10px;
             display: block;
             text-decoration: none;
        }
        }
    }
}
/*footer*/
footer{
    img{
        display: none;
    }
    a{
        padding: 20px;
    }
}
/*main de index*/
.primera-parte{
    img{
        height: 100px;
    }
    h1{
        font-size: 2rem;
    }
    h2{
        font-size: 1.3rem;
    }
}
.segunda-parte{
    flex-direction: column;
        .fila{
            width: 100%;
            text-align: center;
            flex-direction: column;
            align-items: center;
            img{
                width: 100%;
                height: auto;
                padding: 10px;
             }
             p{
                font-size: 1.3;
                margin: 10px 0px;
             }
        }
        h2{
             font-size: 1.3rem;
        }
        p{
            font-size: 1rem;
            margin: 0px 10px;
        }
}
/*main de escribinos*/
.padre{
    .centrar {
  text-align: center;
  color: rgb(0, 255, 255);
  font-size: 2rem;
  margin: 10px 0px;
}
.texto-largo{
    font-size: 1.5rem;
    display: block;
    margin: 20px;
}
}


form{
    width: 100%;
    padding: 10px;
    
    label{
         font-size: 2rem;
    }
    input{
        width: 100%;
        font-size: 1rem;
        padding: 10px;
        box-sizing: border-box;
    }
    textarea{
        width: 100%;
        font-size: 1rem;
        padding: 10px;
        box-sizing: border-box;
    }
}
.img{
    height: 20%;
    text-align: center;
}
/*main-matematica*/
.contenedor-grid{
    display: grid;
    grid-template-areas:  
        "titulo"
        "link"
        "img1"
        "texto1"
        "titulo2"
        "titulo3"
        "titulo4"
        "titulo5";
        grid-template-columns: 1fr ;
        grid-template-rows: 80px 80px 200px 250px 100px repeat(3, 90px);
        .grid-frase1{
            display: none;
        }
        .grid-frase2{
            display: none;
        }
        .grid-frase3{
            display: none;
        }
        .grid-img2{
            display: none;
        }
        .grid-img3{
            display: none;
        }
        .grid-img4{
            display: none;
        }
        .grid-titulo{
            grid-area: titulo;
            font-size: 3rem;
        }
        .grid-titulo2{
            grid-area: titulo2;
            font-size: 2rem;
            color: black;
            text-align: center;
        }
        .grid-img1{
            grid-area: img1;
            height: auto;
            width: 60%;
            align-items: center;
            padding:5px;
        }
        .grid-link{
            grid-area: link;
            font-size: 1.5rem;   
            display: block;         
        }
         .grid-texto1{
        grid-area: texto1;
        padding: 20px;
        font-size: 1.5rem;
        }
        .grid-titulo3{
            grid-area: titulo3;
            font-size: 1.8rem;
            text-align: center;
        }
        .grid-titulo4{
            grid-area: titulo4;
            font-size: 1.8rem;
            text-align: center;
        }
        .grid-titulo5{
            grid-area: titulo5;
            font-size: 1.8rem;
            text-align: center;
        }
}
/*main de juegos*/
.contenedor2grid{
    grid-template-areas: 
    "titulo1j"
    "texto1j"
    "titulo2j"
    "word"
    "img1j"
    "iniciar"
    "klofky"
    "img3j"
    "registrar";
    grid-template-columns: 1fr;
    grid-template-rows: 50px 400px 80px 80px 150px 80px 80px 150px 80px ;
    .grid-img2j{
        display: none;
    }
    .grid-texto2j{
        display: none;
    }
    .grid-img1j{
        grid-area: img1j;
        width: 50%;
        height: 100px;
    }
    .grid-img3j{
        grid-area: img3j;
        width: 50%;
        height: 100px;
    }
    .grid-titulo1j{
        grid-area: titulo1j;
        font-size: 3rem;
    }
    .grid-titulo2j{
         grid-area: titulo2j;
        font-size: 2rem;
        text-align: center;
    }
    .grid-texto2j{
        grid-area: texto2j;
        font-size: 1rem;
    }
    .grid-texto1j{
        grid-area: texto1j;
        font-size: 1.5rem;
        box-sizing: border-box;
    }
    .grid-iniciar{
        grid-area: iniciar;
        font-size: 2rem;
        color: black;
        font-family:"Crimson Text", serif; ;
        text-decoration: none;
    }
    .grid-registrar{
        grid-area: registrar;
        font-size: 2rem;
        color: black;
        font-family:"Crimson Text", serif; ;
        text-decoration: none;
    }

    /*main de lengua*/
    
    .detalle-desktop{
        display: none;
    }
    .ver-mas-mobile{
       display: block;
    }
}
}